.row
  .span1.offset1
    %b Life
  .span1
    %i.icon-refresh
    %i.icon-pause
    %i.icon-play
    %i.icon-step-forward

.row
  #lifeboard.span10.offset1
    - 40.times do |x|
      .cellrow
        - 100.times do |y|
          %i.icon-circle-blank{ data: { x: x, y: y } }
%br  
.row
  .span7.offset1
    .dropup
      %a.btn.dropdown-toggle{ href: "#", data: { toggle: "dropdown" }  }
        %i.icon-chevron-up
      %ul.dropdown-menu
        %li
          Presets   
        %li.divider  
        %li
          %a{ href: "#" }
            Stiff
      %input#state.span5{ type: "text" }

= form_for :life, remote: true, url: 'life.json', :html => { id: 'state_form' } do |f|
  = f.hidden_field :state
  = f.hidden_field :timestamp

