.row
  .span1.offset1
    %b Life
  .span1
    %i.icon-refresh
    %i.icon-pause
    %i.icon-play
    %i.icon-step-forward

.row
  #lifeboard.span10.offset1
    - 200.times do |x|
      .cellrow
        - 200.times do |y|
          .cell{ data: { x: x, y: y } }

%br  
.row
  .span10.offset1
    .input-prepend.btn-group.dropup
      %a.btn.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
        %i.icon-chevron-up
      %input.span8#state{ size: "16", type: "text" }
      %ul#presets.dropdown-menu
        %li
          Presets   
        %li.divider  
        %li
          - @presets.each do |title,preset|
            %a{ href: "#", data: { state: preset } }
              =title
  
.row
  .span10.offset1
    %br
    %a{ href: "https://github.com/jeremy-brenner/life-web", target: '_blank' }
      %i.icon-github
      This app on github
    %br
    %a{ href: "https://github.com/jeremy-brenner/conways-life", target: '_blank' }
      %i.icon-github
      Conways Life ruby gem on github