.row
  .span1.offset1
    %b Life
  .span1
    %i.icon-refresh
    %i.icon-pause
    %i.icon-play
    %i.icon-step-forward

.row
  #lifeboard.span10.offset1
    - 50.times do |x|
      .cellrow
        - 100.times do |y|
          -# %i.icon-check-empty{ data: { x: x, y: y } }
          .cell.dead{ data: { x: x, y: y } }

%br  
.row
  .span10.offset1
    .input-prepend.btn-group.dropup
      %a.btn.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
        %i.icon-chevron-up
      %input.span8#state{ size: "16", type: "text" }
      %ul#presets.dropdown-menu
        %li
          Presets   
        %li.divider  
        %li
          - @presets.each do |title,preset|
            %a{ href: "#", data: { state: preset } }
              =title
