// Place all the styles related to the Life controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * { margin:0; padding:0; }

#lifeboard {
  border: 2px solid black;
  padding: 7px 0px 7px 7px;
  font-size: 4px;
  line-height: 0px;
  height: 450px;
  overflow: auto;
  white-space: nowrap;
}

#lifeboard i {
  font-size: 18px;
}

i.playing {
  color: green;
}

.input-append .btn.dropdown-toggle {
    float: none;
}